.civ-icon {
    height: 1.2em;
    width: auto;
    vertical-align: text-bottom;
    margin: 0 2px;
}

.face-icon {
    height: 1.5em;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin: 0 2px;
}
